@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("..fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("..fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("..fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  color: #2D3440;
}

.logo {
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 45px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 430px;
  margin: 0;
  padding: 0;
  margin-top: 36px;
  margin-bottom: 57px;
  list-style-type: none;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
}

.nav-link {
  position: relative;
  display: block;
  padding: 6px 18px;
  text-align: center;
  color: #2D3440;
  text-decoration: none;
  border-radius: 26px;
}

.nav-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.nav-link:focus{
  background: #FCFCFC;
  box-shadow: inset 0 0 0 2px #FCFCFC;
  border: none;
}

.nav-link:active {
  box-shadow: inset 0 0 0 2px #2D3440;
}

.nav-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #2D3440;
}

.nav-user{
  max-width: 290px;
  padding: 0;
  font-size: 14px;
}
.nav-user .nav-item {
  min-height: 32px;
  min-width: 32px;
  margin-left: 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
}

.nav-user.nav-link{
  min-width: 16px;
  min-height: 22px;
}

 .nav-link-login {
  padding-left: 40px;
}

.nav-link-search {
  padding-left: 40px;
}

.nav-link-login .nav-icon {
  right: auto;
  left: 18px;
  margin: auto 0;
}

.nav-link-search .nav-icon {
  right: auto;
  left: 18px;
  margin: auto 0;
}

.nav-phone {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
  margin-left: auto;
  margin-top: 36px;
  margin-bottom: 57px;
}

.main-container {
  width: 1170px;
  margin: 0 auto;
}

.slider {
  display: flex;
  position: relative;
}

.slider-prev {
  background-image: url("../img/left-nav.svg");
  position: relative;
}

.slider-next {
  background-image: url("../img/right-nav.svg");
  position: relative;
}

.slider-image {
  position: relative;
}

.slider-wrapper{
  display: flex;
  align-items: center;
}

.slider-wrapper::before {
  position: absolute;
  content: "";
  width: 312px;
  height: 312px;
  background: #FFCBD8;
  border-radius: 50%;

}

.slider-button {
  width: 38px;
  height: 38px;
  border-radius: 26px;
  margin-top: 237px;
  border-style: none;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 0;
}

.slider-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 470px;
}

.slider-image-group {
  display: flex;
  align-items: center;
  margin-left: 37px;
}

.slider-image-mini:not(:last-child) {
padding-right: 41px;
}

.heading {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  margin-top: 115px;
  margin-bottom: 24px;
}

.description{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 48px;
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #2D3440;
  cursor: pointer;
}

.button-buy {
  background-color: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.3);
  border-color:transparent;
  border-radius: 26px;
  padding: 12px 0px;
  text-decoration: none;
  color: #2D3440;
  width: 139px;
}

.button-buy:hover{
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
}

.button-buy:focus{
  box-shadow: inset 0 0 0 2px #2D3440;
  outline: none;
}

.button-buy:disabled {
  background-color: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.slider-option {
  display: flex;
  justify-content: space-between;
}

.slider-pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
}

.slider-pagination-button {
  margin-right: 8px;
  width: 12px;
  height: 12px;
  border-radius: 30px;
  border-style: none;
  background: #FCFCFC;
  cursor: pointer;
}
.slider-pagination-button:not(.slider-pagination-button-current){
  opacity: 0.3;
}

.slider-pagination-button:hover{
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #FCFCFC;
  box-shadow: 0px 1px 3px rgba(133, 133, 133, 0.1);
}

.slider-pagination-button:focus{
  outline: 1px solid #2D3440;
  color: #2D3440;
}

.promo-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.promo-item{
  background-color: #FF7799;
  border-radius: 16px;
  width: 570px;
  min-height: 268px;
  margin-right: 30px;
  background-repeat: no-repeat;
}
.promo-item:nth-child(2n) {
  margin-right: 0;
}

.promo-raspberries {
  background-image: url("../img/raspberry-fon.jpg");
  background-position: right bottom;
}

.promo-marshmallow {
  background-image: url("../img/marshmallow-fon.jpg");
  background-position: right bottom;
}

 .promo-name {
   font-size: 32px;
   font-weight: 900;
   line-height: 46px;
   width: 579px;
   margin-right: auto;
   margin-left: auto;
   text-align: center;
   margin-top: 0;
   margin-bottom: 56px;
 }

 .promo-option{
   font-size: 24px;
   font-weight: 700;
   line-height: 30px;
   padding-top: 40px;
   padding-left: 40px;
   padding-bottom: 16px;
   margin: 0;
 }

 .promo-description {
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;
   width: 294px;
   padding-left: 40px;
   padding-bottom: 32px;
   margin: 0;
 }

 .white-button{
   background-color: #FCFCFC;
   outline: 4px solid rgba(252, 252, 252, 0.4);
   box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
   border-radius: 26px;
   text-decoration: none;
   color: #2D3440;
   padding: 12px 0;
   width: 176px;
   margin-left: 40px;
   display: block;
 }

 .white-button:hover{
  background: #FFCBD8;
  outline: 4px solid #FCFCFC;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
 }

.white-button:focus{
  box-shadow: inset 0 0 0 2px #2D3440;
  outline: none;
}

.white-button:disabled {
  background-color: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

 .suggestions-name {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  width: 579px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 0;
  margin-bottom: 56px;
 }

 .product-list {
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    margin: 0;
    padding: 0;
    list-style-type: none;
 }

 .product-card:nth-child(4n) {
  margin-right: 0;
 }

 .product-card {
   width: 270px;
   background-color: white;
   border-radius: 8px;
   text-align: center;
   margin-right: 30px;
   margin-bottom: 40px;
   display: flex;
   flex-direction: column;
 }

 .product-card-content {
  padding: 16px 40px 28px 40px;
  flex-grow: 1;
 }

 .product-card-link {
   text-decoration: none;
 }

 .product-card-title{
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   color: #2D3440;
   padding-bottom: 8px;
   margin: 0;
 }

 .product-card-detail{
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;
   padding-bottom: 20px;
   margin: 0;
   color: #565C66;
 }

 .produсt-card-section {
   display: flex;
   justify-content: space-between;
   margin: 0;
 }

 .product-card-price {
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   align-items: center;
   display: flex;
 }

 .product-card-button{
    border-radius: 26px;
    background-color: #FF2F64;
    width: 32px;
    height: 32px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }

 .product-card-icon{
   background-image: url("../img/basket-nav.svg");
   fill:#FCFCFC;
   background-repeat: no-repeat;
   background-size: 16px;
 }

 .advantages{
   display: flex;
   align-items: center;
   background-image: url("../img/waffle.jpg");
   border-radius: 16px;
   margin-bottom: 80px;
   min-height: 480px;
   margin-top: 60px;
  }

 .advantages-wrapper {
   background-color: #FCFCFC;
   margin: 24px;
  }

  .suggestions {
    margin: 0;
    font-size: 28px;
    font-weight: 900;
    line-height: 46px;
    padding: 56px 63px;
    text-align: center;
  }

   .advantages-icon {
    transform: translateY(-60px);
  }

 .advantages-description {
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;
   margin: 0;
   width: 442px;
   padding-left: 60px;
 }

 .advantages-list {
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   list-style-type: none;
 }

 .advantages-item {
  margin-left: 21px;
 }

.info-section {
  display: flex;
  flex-direction: row;
}

.info-news {
  width: 570px;
  height: 216px;
  justify-content: space-between;
  background-image: url("../img/info-news.jpg");
  border-radius: 16px;
  margin-bottom: 80px;
  margin-right: 30px;
}

.info-wrapper {
  padding-top: 32px;
  padding-bottom: 62px;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  width: 303px;
}

.appointment{
  display: flex;
  flex-direction: row;
  background-image: url("../img/appointment.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-bottom: 80px;
  height: 534px;
}

.appointment-wrapper{
  margin-top: 167px;
  margin-left: 100px;
  margin-right: auto;
}

.appointment-suggestions {
  margin: 0;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin-bottom: 24px;
}

.appointment-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  margin-bottom: 163px;
}

.appointment-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 16px 20px;
  background-color: #FCFCFC;
  padding: 0 40px 32px 40px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.appointment-form-address {
  grid-column: 1 / -1;
}

.appointment-border{
  width: 500px;
  height: 406px;
  background-color: #FCFCFC;
  margin: 64px;
}

.appointment-info {
  margin: 0;
  padding: 40px 40px 32px 40px;
}

 .appointment-button {
  background-color: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  border-radius: 26px;
  padding: 12px 32px;
  grid-column: 1 / -1;
  justify-self: center;
  color: #FCFCFC;
  border: 0;
}

.appointment-button:hover{
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  color:#2D3440;
 }

 .appointment-button:focus{
  background: #FF2F64;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  color:#FCFCFC;
}

.appointment-button:disabled{
  background: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

 .info-cite {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
  padding-bottom: 12.22px;
 }

 .info-cite-news {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  color: #2D3440;
 }

 .newsletter{
  background-image: url("../img/posman.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-bottom: 80px;
  width: 570px;
  height: 220px;
 }

 .newsletter-wrapper {
  display: flex;
  flex-direction: column;
  width: 558px;
  height: 208px;
  background-color: #FCFCFC;
  padding: 0;
  margin-top: 6px;
  margin-left: 6px;
  align-items: center;
 }

 .newsletter-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 26px 26px 44px 26px;
  margin: 0;
 }

 .newsletter-form {
  display: grid;
  grid-template-columns: 332px 152px;
  gap: 24px;
}

 /* .field {
  width: 332px;
  height: 48px;
 } */

 .newsletter-button {
  background-color: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  padding: 12px 32px;
  color: #FCFCFC;
  border: 0;
 }

 .newsletter-button:hover{
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  color:#2D3440;
 }

 .newsletter-button:focus{
  background: #FF2F64;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  color:#FCFCFC;
}

.newsletter-button:disabled{
  background: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

 .contacts-wrap {
   width: 1170px;
   height:492px;
   background-image: url("../img/icecream-contacts.jpg");
   border-radius: 16px;
   margin-bottom: 48px;
 }

 .appointment-date {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
 }

 .contacts{
   width: 343px;
   padding: 64px;
 }

 .contacts-item {
  padding: 40px;
  background-color: white;
  justify-content: center;
 }

 .contacts-address {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 32px;
  font-style: normal;
  color: #565C66;
 }

 .about-text{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 12px;
  padding-bottom: 24px;
  margin: 0;
  color: #2D3440;
 }

 .about-text-info{
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 203px;
  display: block;
  padding-bottom: 12px;
 }

 .contacts-link{
  text-decoration: none;
  color: #FCFCFC;
  background: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  align-items: center;
  padding: 12px 32px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  border: 0;
 }

 .contacts-link:hover{
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  color:#2D3440;
 }

 .contacts-link:focus{
  background: #FF2F64;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  color:#FCFCFC;
}

.contacts-link:disabled{
  background: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

 .page-footer-container{
  display: flex;
  width: 1170px;
  margin: 0 auto;
 }

 .contacts-address-phone {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
 }

 .social-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

 .social-item {
  list-style-type: none;
  min-width: 24px;
  min-height: 24px;
  margin-right: 16px;
 }

 .social-item:nth-child(3n) {
   margin-right: 0;
 }


 .information {
  list-style-type: none;
  display: flex;
  margin-left: 300px;
  margin-right: auto;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  width: 446px;
  padding: 0;
 }

 .information-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
 }

 .information-item-like {
  font-weight: 700;
 }

 .information-list {
   margin-right: 24px;
   width: 185px;
 }

 .logo-info{
  display: flex;
  flex-direction: column;
  min-width: 193px;

 }

 .about-text-logo {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
 }

 .academy-logo{
   width: 93px;
 }

 .htmlacademy-link{
  text-decoration: none;
  color: #2D3440;
 }

 /* catalog */

.nav-link-active {
  background-color: #FF4A78;
  color: #FCFCFC;
  border-radius: 26px;
}

 .breadcrumbs{
   display: flex;
   padding-left: 0;
 }

.breadcrumbs-item{
  list-style-type: none;
  width: 80px;
 }

.breadcrumbs-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
 /*  text-decoration: none;
  border-bottom: 1px solid #2D3440; */
}

/* .breadcrumbs-link :nth-of-type(3) {
  border-bottom: 0;
} */

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.catalog-filter-group{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 196px;
  border: none;
  padding: 0;
  padding-right: 24px;
}

.catalog-filter-group-fatness {
  min-width: 367px;
  display: block;
}

.catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.catalog-filter-group-filler {
  width: 596px;
}

.catalog-sorting{
  width: 196px;
}

.catalog-filter-item{
  list-style-type: none;
  margin-right: 40px;
}

.catalog-filter-item:not(:last-child) {
  margin-right: 40px;
}

.inner-header-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.button-apply{
  font-size: 14px;
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  width: 187px;
  height: 36px;
  align-self: center;
}

.button-apply:hover{
  background-color: #FCFCFC;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.button-apply:focus{
  box-shadow: inset 0 0 0 2px #2D3440;
  border: none;
  outline: none;
}

.button-apply:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  outline: 2px solid #FCFCFC;
}

.pagination{
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 17px;
}

.pagination-item:not(:last-child) {
  margin-right: 16px;
}

.pagination-current {
  background-color: #FCFCFC;
  border-radius: 50px;
}

.pagination-section {
  display: flex;
  flex-direction: row;
}

.pagination-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #2D3440;
  padding: 2px 8px;
  border-radius: 50px;
}

.pagination-link:hover{
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #FCFCFC;
  box-shadow: 0px 1px 3px rgba(133, 133, 133, 0.1);
}

.pagination-link:focus{
  outline: 1px solid #2D3440;
  color: #2D3440;
}

.pagination-item {
  list-style-type: none;
  width: 10px;
  height: 20px;
}

.pagination-link:hover{
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #FCFCFC;
  box-shadow: 0px 1px 3px rgba(133, 133, 133, 0.1);
}

.pagination-link:focus{
  outline: 1px solid #2D3440;
  color: #2D3440;
}

.pagination-prev,
.pagination-next {
  position: relative;
}

.pagination-prev {
  background-image: url("../img/left.svg");
  background-size: 6px 11px;
  background-repeat: no-repeat;
  background-position: center;
}

.pagination-disabled {
  color: #2D3440;
  opacity: 0.2;
}

.pagination-next {
  background-image: url("../img/right.svg");
  background-position: center;
  background-size: 6px 11px;
  background-repeat: no-repeat;
}

.pagination-show-more {
  background: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  width: 179px;
  height: 44px;
  margin: auto;
  margin-bottom: 81px;
  margin-top: 17px;
  margin-right: 335px;
  border: none;
}

.pagination-show-more:hover{
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
}

.pagination-show-more:focus{
  box-shadow: inset 0 0 0 2px #2D3440;
  outline: none;
}

.pagination-show-more:disabled {
  background-color: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

